#header {
    background-color: "#a8abaf";
    height: 50px;
    width: 960px;
    margin: auto;
    margin-top: 20px;
    font-size: 18pt;
}

#main-content {
    padding-top:20px;
    width : 960px;
    margin: auto;
    min-height: 600px;
}

#footer {
    position:relative;
    text-align: center;
    background-color: "#a8abaf";
    height: 50px;
    width: 100%;
    margin: auto;
    bottom: 0px;
}

#home-text{
    width: 350px;
    float:right;
    margin-left:50px;
    height: 200px;
    font-size: 10pt;
}

p {
    font-size: 10pt;
}

#home_img {
    float: left;
    width: 560px;
    height: 560px;
}

i {
    font-size: 50px;
}

Card {
    height: 200px;
}

